<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Creation Animal</title>
	</head>
	
	<body>
	
		<h2>Formulaire d'ajout d'animal</h2>
		<br>
		<form method = "POST" data-th-action="@{/PostAnimal}" data-th-object="${animal}"  accept-charset="utf-8">
			<label>Nom de l'animal</label>
			<br>
			<input type="text" data-th-field="*{nom}">
			<span data-th-errors = "*{nom}"></span>
			
			<br>
			<br>	
					
			<label>Description de l'animal</label>
			<br>
			<input type="text" data-th-field="*{description}">
			
			<br>
			<br>
			
			<label>Espèce de l'animal</label>
			<br>
			<input type="text" data-th-field="*{espece}">
			
			
			<br>
			<br>
			
			<label>Régime alimentaire de l'animal</label>						
			<select name="regime" data-th-field="*{regime}">
			  <option value="carnivore">carnivore</option>
			  <option value="herbivore">herbivore</option>
			</select>
			
			<br><br>
			<input type="submit">
		</form>
	
	</body>
	
</html>