<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
	
	<body>
	
	<table>
		<tbody>
			<tr data-th-each="animal : ${listeAnimaux}">
				<td data-th-text = "${	animal.nom}"></td>
				<td data-th-text = "${	animal.espece.nom}"></td>
				<td data-th-text = "${	animal.regime}"></td>
			</tr>
		</tbody>
	
	</table>
	
	<br>
	
	<h3> Formulaire de Recherche d'animal</h3>
	<br>
	
 	<form method = "POST" data-th-action="@{/Animal}" data-th-object="${animal}"  accept-charset="utf-8">
		<label>Nom de l'animal</label>
		<input type="text" data-th-field="*{nom}">
		
		<input type="submit">
	</form>
	
	<span data-th-text="${resultatRecherche}"></span>
	
	<br>
	
	<div>
		<h3>
			<a data-th-href = "@{/animal}">Ajouter Animal</a>
		</h3>
	</div>
	
	
	</body>
	
</html>